<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.navix.biz.dao.GoodsDao">
    <resultMap type="Goods" id="goodsResultMap">
        <id property="seqId" column="SEQ_ID"/>
        <result property="goodsId" column="GOODS_ID"/>
        <result property="goodsClassSeqId" column="GOODS_CLASS_SEQ_ID"/>
        <result property="goodsImg" column="GOODS_IMG"/>
        <result property="goodsBrandSeqId" column="GOODS_BRAND_SEQ_ID"/>
        <result property="goodsRefPrice" column="GOODS_REF_PRICE"/>
        <result property="goodsTaxFlg" column="GOODS_TAX_FLG"/>
        <result property="goodsSize" column="GOODS_SIZE"/>
        <result property="delFlg" column="DEL_FLG"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="creadeDate" column="CREADE_DATE"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="updateDate" column="UPDATE_DATE"/>
    </resultMap>
    
    <!--商品新规追加 -->
    <insert id="insert" parameterType="Goods">
        insert into mstr_goods(
           SEQ_ID,
           GOODS_ID,
           GOODS_CLASS_SEQ_ID,
           GOODS_IMG,
           GOODS_BRAND_SEQ_ID,
           GOODS_REF_PRICE,
           GOODS_TAX_FLG,
           GOODS_SIZE,
           DEL_FLG,
           CREATE_USER,
           CREADE_DATE,
           UPDATE_USER,
           UPDATE_DATE) values(
           #{seqId},
           #{goodsId},
           #{goodsClassSeqId},
           #{goodsImg},
           #{goodsBrandSeqId},
           #{goodsRefPrice},
           #{goodsTaxFlg},
           #{goodsSize},
           #{delFlg},
           #{createUser},
           #{creadeDate},
           #{updateUser})
    </insert>
    
    <!--商品更新-->
    <update id="update" parameterType="Goods"> 
    </update>
    
    <!--商品删除-->
    <delete id="delete" parameterType="String">
    	update mstr_goods set DEL_FLG = 1 where SEQ_ID = #{goodsSeqId}
    </delete>
    
    <!--商品查询（根据商品编号查询）-->
    <select id="selectByGoodsId" parameterType="String" resultMap="goodsResultMap">
        select * from mstr_goods where GOOD_ID =#{goodsId}
    </select>
    
    <!--商品查询（根据商品管理番号查询）-->
    <select id="selectByGoodsSeqId" parameterType="String" resultMap="goodsResultMap">
        select * from mstr_goods where SEQ_ID =#{goodsSeqId}
    </select>  
</mapper>